<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hungry? Lets Yummy YUM!" />
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>Yummy YUM!</title>
  </head>
  <body>
    <a href="#restaurant-list" class="skip-link">Menuju ke konten</a>
    <header class="nav-container">
      <img id="nav-img" src="./brand.png" alt="hero-image-1" />
      <button id="hamburger">☰</button>
      <nav id="side-nav" class="side-nav">
        <ul>
          <li><button id="closeBtn">X</button></li>
          <li><a href="#/home">HOME</a></li>
          <li><a href="#/favorite">FAVORITE</a></li>
          <li><a href="https://github.com/hafidzahm">ABOUT US</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent">
    </main>
    <footer class="container-footer">
      HUNGRY? Lets YUMMY YUM! 
    </footer>
  </body>

</html>
