<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Yummy YUM!</title>
  </head>
  <body>
    <header>
      <header-app></header-app>
    </header>
    <main>

        <section>
          <hero-app></hero-app>
        </section>

        <section>
          <about-us></about-us>
        </section>
  
        <section>
          <div class="card-title">
            <h1 id="card-title__text">Our Restaurants</h1>
          </div>
          <div id="card-lists"></div>
        </section>


        <footer-app></footer-app>
  


      
    </main>



  </body>
</html>
