/* jika layar >1200px */
@media screen and (min-width: 1200px){
    .hero-img {
        width: 1000px;
    }
    
}

/* layar tablet */
@media screen and (min-width: 700px){
    #card-lists{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, autofit);
        
    }

    .card-item__container {
        max-width: fit-content;
    }

    card-item {
        display: grid;
    }

    .card-img{
        max-height: 100%;
    }
}

