.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__item {
  box-sizing: border-box;
  display: block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
  min-height: 44px;
  min-height: 44px;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}





/* hero */
.hero-img{
  background-color: rgb(255, 238, 0);
}
/*  */

/* header */

.header-app {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color:#212121;
}

.header__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color:antiquewhite;
}
/*  */

/* card-item */
#card-img {
  border-radius: 50px;
}

#card-lists{
padding: 10px;
background-color: #212121;
}

.card-item__container {
  background-color:#616161;
  border-color: rgb(74, 204, 107);
  padding: 30px;
  border-radius: 30px;
  margin: 10px;
}

.card-item__info{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr;
  background-color: #212123;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
}

.card-item__rating{
  /* place-items: center; */
  /* align-self: center; */
  justify-self: center;
  color: antiquewhite;
  font-size: 1.5em;

}

.card-item__city{
  /* place-items: center; */
  /* align-self: center; */
  justify-self: center;
  color: antiquewhite;
  font-size: 1.3em;
}

.card-item__description{
  font-size: 1.5em;
}

#icon-rating {
  max-width: 32px;
}

#icon-city {
  max-width: 32px;
}

/* #icon-more {
  max-width: 48px;
  place-self: center;
} */

.hidden {
  display: none;
}
